* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.849);
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: rgb(255, 6, 234);
    padding: 5px;
}


header img {
    width: 85px;
}

.container {
    background-color: rgb(238, 233, 233);
    margin: 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 15px;
    padding: 0 10px;
    padding-top: 30px;
    padding-bottom: 100px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container p {
    text-align: center;
    opacity: 60%;
}

.container-search {
    display: flex;
    margin-top: 15px;
}



.container-search img {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;

}

footer {
    background-color: rgba(0, 0, 0, 0.849);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    height: 30px;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    border-top: 2px solid;
    border-color: black;

}

footer span {
    color: blueviolet;
}

@media(max-width:1000px) {

    header {
        background-color: rgba(0, 0, 0, 0.849);
        border-bottom: 2px solid;
    }


    header img {
        width: 50px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer p {

        font-size: 10px;
    }
}

.container-itens {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: coral;
    border-radius: 8px;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    width: 70vw;
    justify-content: space-between;

}

.item-interactions img {
    width: 12px;

}

.cruz {
    width: 10px;
    margin-left: 10px;
}